# LLM API Keys
OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key

# Ollama (Local LLM)
OLLAMA_BASE_URL=http://127.0.0.1:11434

# LangSmith 
LANGSMITH_API_KEY=your-api-key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=agent-cli-template
LANGSMITH_TRACING=true
